table{
	background-color: #868787;
	margin: auto;
}
#Result{
	width: 176px;
	height: 32px;
	border: 1px solid grey;
	border-radius: 10px;
	padding-left: 20px;
	margin-bottom: 10px;
}
.btn{
	width: 34px;
	height: 32px;
	border: 1px solid grey;
	border-radius: 10px;

}