
input{
	width: 200px;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
	
}
.login{
	width: 400px;
	height: 500px;
	border: 1px solid grey;
	border-radius: 10px;
	text-align: center;
}
h2{
	color: #868787;
	font-family: sans-serif;
}
input{
	width: 200px;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid grey;
	padding-left: 20px;
}
select{
	color: #0A0000;
	font-family:serif;
	width: 200px;
	height: 40px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid grey;
	padding-left: 20px;
}
